/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.container
{
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
img
{
    width: 100%;
}
section
{
    margin: 100px 0;
}
/* bug fix  */
.adress-element .highlight-point{
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sale .highlight-point
{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
/* header css */
.header_container
{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(img/Banner/Banner\ Image.png);
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-element h5
{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.header-element h1
{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;  
}
/* all-categories css */
.categories_title
{
    text-align: center;
}
.categories_title h1
{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.categories_title p
{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.categories_title h3
{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
 
}
.categories-img
{
    width: 800px;
    justify-content: center;
    margin: 0 auto;
}
/* MIDNIGHT PARTY CSS */
.midnight-column:nth-child(1)
{
    width: 700px;
}
.midnight-column:nth-child(2)
{
    width: 320px;
}
.midnight-column h1
{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 7px;
}
.midnight-column p
{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 32px;
}
.midnight-column a
{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}
.midnight-column img
{
    width: 320px;
}
.midnight_container
{
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(img/Banner/Vectorrr.png);
    display: flex;
    align-items: center;
    border-radius: 16px;
}
.midnight-element
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* adress and timing css */
.adress-element h3 
{
    color: #070211;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.highlight-point
{
    color: #F00;
}
.adress-element
{
    text-align: center;
}
.adress-element .btn-primary
{
     margin-top: 80px;
     cursor: pointer;
}
.adress-element .btn-primary span
{
    padding: 16px 32px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}
.adress-container
{
    height: 480px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* BEST OFFER CSS */
.best_offer-container h6
{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 100px;
}
.best_offer-container h1
{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.best_offer-container p
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 390px;
}
.circel_img
{
    width: 391px;
    height: 391px;
    border:36px solid #F00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circek_img-container
{
    width:80%;
}
.offer_wish h2
{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
    margin-top: 76px;
}
.offer_wish p
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px; 
    margin-bottom: 20px; 
}
.offer_wish .wish-img 
{
    width: 140px;
}
.best_offer-container
{
    display: flex;
    justify-content: space-between;
    height: 464px;
}
/* sale offer section */
.sale h6
{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.sale h1 
{
    color:  #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale p
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 20px 100px;
}
.sale
{
    text-align: center;
}
/* sale offer img background section */
.sale_offer-img
{
    width: 600px;
    position: relative;
    height: 434px;
    float: right;
}
.sale_offer-img img:nth-child(1)
{
    width: 430px;
    float: right;
}
.sale_offer-img img:nth-child(2)
{
    width:280px;
    position: absolute;
    bottom: 50px;
    left: 15px;
}
.ground-item 
{
    position: relative;
}
.ground-item img:nth-child(1)
{
    width: 600px;
    position: absolute;
    bottom: 54px;
    margin-left: 71px;
    z-index: 1;
}
.sale_offer
{
    margin-top: 44px;
}
/* portfolio css */
.portfolio-header_title h6
{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-header_title h1
{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.portfolio-header_title p
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    width: 896px;
}
.portfloio_card
{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.portfloio_card:hover
{
    transform: scale(.9);
}
.portfolio-container
{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1em;
    padding-top: 50px;
}
/* subscribe section css */
.subscribe-img
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.subscribe-text h1
{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 18px;
}
.subscribe-text p
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    text-align: center;
    width: 890px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.input_sub
{
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.btn-subscribe
{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}

input{
    width: 60%;
    max-width: 400px;
    flex: 2;
    border: none;
    outline: none;
    background: transparent;
    padding: 24px 20px;
    margin-left: 10px;
} 
input::placeholder
{
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.subscribe_us{
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer css */
footer
{
    background: black;
    height: 450px;
 

}
.footer-element h3 , span
{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer-element li i
{
    color: #FFF;
    font-size: 20px;
    margin-right: 5px;
}
.footer-element
{
    width: 45%;
    height: 100px;
}
.footer-element ul
{
    list-style: none;
}
.listed_item
{
    display: flex;
    flex-direction: row-reverse;
}
.listed_item h3
{
    display: inline;
}
.footer_content
{
    display: flex;
    justify-content: space-around;
    padding-top: 17px;
}
.social_icon
{
    width: 64px;
}
.icon_container
{
    display: flex;
    gap: 20px;
    width: 320px;
}
.footer_social-icon
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_copy-column
{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    float: left;
}
.footer_copy-column:nth-child(2)
{
     text-align: right;
     float: right;
}
.footer_copyright
{
    margin-top: 50px;
}
hr
{
    background: rgba(255, 255, 255, 0.15);
    border: none;
    height: 1px;
}
hr:nth-child(2)
{
    margin-top: 30px;
}
/* #animation */
#animation {
    /* background: #080a3c !important; */
    color: #fff;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #animation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/animation/footer-shape1.png);
    animation: imgChange 1s linear 1s infinite;
  }
  #animation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/animation/footer-shape2.png);
    animation: imgChangeTwo 1s linear 1s infinite;
  }
  @keyframes imgChange {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes imgChangeTwo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  